<section>
    <header>
        <h3 class="task-list-title" i18n>Task List</h3>
        <mat-form-field class="task-description">
            <input matInput
                   placeholder="Enter task description here"
                   (keyup.enter)="addTask()"
                   [(ngModel)]="taskDescription"
            >
        </mat-form-field>

    </header>
    <section class="toolbar">
        <mat-checkbox title="Mark all complete"
                      [checked]="toggleAllStatus"
                      [disabled]="(tasks$ | async)?.length === 0 "
                      (change)="toggleSelectAll()">
        </mat-checkbox>
        <section class="list-filter">
            <label for="task-status-filter">Display</label>
            <select id="task-status-filter" [(ngModel)]="statusFilter">
                <option value="ALL" selected>All</option>
                <option value="COMPLETED">Completed</option>
                <option value="PENDING">Pending</option>
            </select>
        </section>
        <section class="counters">
            <span>Pending: {{(pendingTasks$ | async).length}}</span>
            <span>Completed: {{(completedTasks$ | async).length}}</span>
            <span>Total: {{(tasks$ | async).length}}</span>
        </section>
    </section>
    <ul class="task-list">
        <ng-container *ngFor="let item of tasks$ | async">
            <li *ngIf="statusFilter === 'ALL' || item.status === statusFilter" class="task-item">
                <mat-checkbox title="Mark task complete"
                              class="status-toggle"
                              [checked]="item.status === 'COMPLETED'"
                              (change)="toggleTaskStatus(item)"
                ></mat-checkbox>
                <span class="task-description">{{item.description}}</span>
                <span class="remove-task" (click)="removeTask(item.id)"></span>
            </li>
        </ng-container>


    </ul>
</section>
