<section>
    <header>
        <h3 class="task-list-title" i18n>Task List</h3>
        <mat-form-field class="task-description">
            <input matInput
                   placeholder="Enter task description here"
                   (keyup.enter)="addTask()"
                   [(ngModel)]="taskDescription"
            >
        </mat-form-field>

    </header>
    <section class="toolbar">
        <mat-checkbox title="Mark all complete"
                      [checked]="toggleAllStatus"
                      [disabled]="(tasks$ | async)?.length === 0 "
                      (change)="toggleSelectAll()">
        </mat-checkbox>
        <span>Pending: {{(pendingTasks$ | async).length}}</span>
        <span>Completed: {{(completedTasks$ | async).length}}</span>
        <span>Total: {{(tasks$ | async).length}}</span>
    </section>
    <ul class="task-list">
        <li *ngFor="let item of tasks$ | async" class="task-item">
            <mat-checkbox title="Mark task complete"
                          class="status-toggle"
                          [checked]="item.status === 'COMPLETED'"
                          (change)="toggleTaskStatus(item)"
            ></mat-checkbox>
            <span class="task-description">{{item.description}}</span>
            <span class="remove-task" (click)="removeTask(item.id)"></span>
        </li>
    </ul>
</section>
