@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, input, textarea, button {
    font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
}

html, body {
    height: 100%;
    font-size: 14px;
}
